#search {
    width: 300px;
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
    border: 2px solid #aaa;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}

.product-filter {
    width: 94%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.product-filter__container {
    margin: 30px 10px 0px 0px;
}

#filter {
    height: 50px;
    background-color: #3b8d82;
    border: none;
    color: white;
    padding: 10px 30px;
    margin: 0px 10px 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.product-filter__modal{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    margin-top: 65px;
    z-index: 9999;
    opacity: 1; /* default */
}

h1:hover + .tooltip-wrapper {
    opacity: .9;
    top: 105px;
  }
.tooltip-wrapper {
    position: relative;
    padding: 0px 5px 0px 0px;
    z-index: 9999;
    width: 94%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.tooltip {
    width:960px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    background-color:white;
}
.tooltip:after {
    content: "";
    position: absolute;
    top: -20px;
    right: 50%;
    margin-right: -30px;

    /*triangle main*/
    border-bottom: 20px solid white;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

fieldset{
    /* border: none; */
    width: 100%;
    position: relative;
}

section.range-slider {
    position: relative;
    width: 200px;
    height: 35px;
    text-align: center;
}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

#filter-price__max{
    width: 350px;
}

.row-top, .row-bottom{
    width: 100%;
}

.inline{
    display: inline-block;
}

.left-column{
    width:30% !important;
}

 .center-column{
    /* position: absolute;
    display: inline-block; */
    width: 40% !important;
}

.right-column{
    width:30% !important;
    /* display: inline-block;
    position: absolute */
} 

.flexbox-container{
    display: flex;
}
.flexbox-container.wrap{
    flex-wrap: wrap;
}
.box{
    width: 33%;
    height: 50px;
}