* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100% !important;
    height: 100%;
}

body {
    height: 100vh;
    /* Avoid the IE 10-11 `min-height` bug. */
}

header {
    background: #3b8e82;
    bottom: 0;
    height: 45px;
}

footer {
    background: #3b8e82;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    clear: left;
    position: relative;
    text-align: center;
    height: 45px;    
}

#shopping-cart{
    padding-left: 235px;
}

#personal-account{
    padding-right: 235px;
}

main {
    background-image: url('../assets/paper-full.jpg');
}

.content {
    width: 80%;
    margin: auto;
    height: inherit;
    background: rgba(0, 0, 0, 0.5);
    padding-bottom: 50px;
}

.content-container {
    margin: auto;
    width: 100%;
    position: relative;
}

nav > ul li {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.centered-text {
    text-align: center;
}

.white {
    color: white;
}

.decoration-clear {
    text-decoration: none;
}

.icon-vertical-align {
    padding: 10px;
    font-size: 24px !important;
}

.user-lable{
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-left: -110px;
    margin-top: 16px;
    font-size: 15px;
}

.icon-right-section {
    float: right;
    padding-right: 6.5%;
}

.icon-left-section {
    padding-left: 6.5%;
}

.active-user {
    display: inline-block;
}

.product-card {
    display: flex;
    padding: 15px 10px 0px 5px;
    width: 100%;
}

.product-card__flex-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

 @media all and (min-width: 50em) {
    .product-card {
        width: 33.33%;
    }
    .content {
        width: 80%;
    }
}


@media all and (max-width: 95em) {
    #shopping-cart{
        padding-left: 50px;
    }

    #personal-account{
        padding-right: 50px;
    }
    
    .content {
        width: 100%;
    }
    .product-card{
        width: 50%;
    }
}

@media all and (max-width: 700px) {
    .product-card {
        width: 100%;
    }
}

@media all and (max-width: 700px) {
    .product-card {
        /* background: red !important; tmp */
    }
    .row-top div{
        width: 100% !important;
    } 
}

@media all and (max-width: 1024px) {
    #shopping-cart{
        padding-left: 50px;
    }

    #personal-account{
        padding-right: 50px;
    }
    
    .product-filter{
        justify-content:space-between !important;
    }

    #search{
        position: absolute !important;
        right: 0 !important;
        margin-right: 35px !important;
    }

    .tooltip:after{
        right: calc(100% + 1%) !important;
    }

    .row-top div, section.range-slider, section.range-slider input{
        width: 100% !important;
    }

    .custom-hr-hidden{
        display: block !important;
    }
}

.products-list {
    width: 94%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}

.products-list:after {
    content: "";
    display: table;
    clear: both;
}

.product-card__image {
    width: 100%;
}

.product-card__rating {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    margin-top: -32px;
}

img {
    width: 100%;
}

hr {
    width: 90%;
    border: 1px solid #3b8e82;
    margin: auto;
}

#item-price {
    font-size: 36px;
    float: left;
    padding-left: 20px;
    font-family: "PT Sans";
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    margin: 10px 0px 15px 0px;
}

#item-price::first-letter{
    color:#3b8e82;
}

.product-card__text, .product-card__title {
    padding: 18px;
    font-family: "PT Sans";
}

.product-card__title {
    font-size: 18px;	
    font-weight: bold;	
    line-height: 23px;
}

#show-more {
    width: 120px;
    height: 35px;
    background-color: #3b8e82;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-right: 20px;
    display: block;
    font-size: 14px;
    line-height: 19px;
    font-family: "PT Sans";
    cursor: pointer;
    float: right;
    position: relative;
    border-radius: 5px;
    margin: 10px 10px 15px 0px;
}

.product-card__description {
    background-color: white;
}

.product-card__nav {
    margin-top: auto;
    bottom: 0;
    right: 0;
    left: 0;
}