.content-container {
    min-height: calc(100vh + 5px) !important;
    /* for DEMO */
}

u:hover {
    cursor: pointer;
}

.product-card-detail__edit {
    height: 680px;
    width: 730px;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
    position: fixed;
    z-index: 9999;
    margin-left: 20%;
    margin-top: 150px;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    /* opacity: 0;  show window */
    /* display: none; */
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    /* pointer-events: none; */
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog>div {
    position: relative;
    margin: auto;
    background: repeating-linear-gradient( -45deg, #eee, #eee 10px, #d8d8d8 12px, #465298 11px);
    height: 680px;
    width: 730px;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.modal-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    margin: 0;
    padding: 0;
    top: 50%;
    text-align: left;
    position: relative;
    transform: translateY(-50%);
}

.modal-header {
    padding: 20px !important;
    height: auto;
    font-size: 24px;
    background-color: #ffffff;
    color: #000000;
    font-family: "PT Sans Caption";
    font-size: 22px;
    font-weight: bold;
    line-height: 29px;
    text-align: center;
}

.modal-content {
    background: repeating-linear-gradient( -45deg, #eee, #eee 10px, #d8d8d8 12px, #465298 11px);
}

.modal-header span {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.flexbox-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.flexbox-container>div {
    width: 50%;
    padding: 10px;
    padding: 15px 30px 15px 30px;
}

.form-group>label {
    display: block;
    color: #000000;
    font-family: "PT Sans";
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 5px;
}

.form-control {
    height: 35px;
    width: 300px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.bitmap {
    height: 200px !important;
    width: 301px !important;
    border: 1px solid #D8D8D8;
}

.customized-dropdown {
    background-color: #FFFFFF !important;
    color: black !important;
}

.customized-dropdown-wrap {
    width: 300px !important;
    height: 35px !important;
    max-width: 300px !important;
    border-radius: 5px;
    color: #3b8d82 !important;
}

.customized-dropdown-wrap:after {
    content: "â”";
    padding: 0px 0px;
    position: absolute;
    right: 0px;
    top: 0;
    z-index: 1;
    text-align: center;
    width: 10%;
    font-size: 20px;
    transform: rotate(-135deg);
    height: 100%;
    pointer-events: none;
}

.textarea {
    height: 200px;
    width: 300px;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 10px;
    border: none;
}

.radio-group {
    height: 26px !important;
}

.checkmark {
    background-color: white !important;
}

input[type="text"], input[type="number"] {
    padding-left: 10px;
}

.modal-button[value] {
    color: #FFFFFF;
    font-family: "PT Sans Caption";
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    text-align: center;
}

.modal-button {
    width: 170px;
    height: 50px;
    background: linear-gradient(180deg, #2BBCC2 0%, #1B745F 100%);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-right: 20px;
    display: block;
    font-size: 14px;
    line-height: 19px;
    font-family: "PT Sans";
    cursor: pointer;
    float: right;
    position: relative;
    border-radius: 5px;
    margin: 25px 25px 20px 0px !important;
}

.btn-cancel {
    background: linear-gradient(180deg, #B1B1B1 0%, #777777 100%);
}

.form-group {
    padding-bottom: 20px;
}

@media (max-width: 1024px) {
    .modalDialog>div {
        width: 96% !important;
        height: 98% !important;
        overflow: scroll !important;
    }
    #confirm-dialog>div {
        height: 288px !important;
        width: 730px !important;
    }
    .flexbox-container {
        display: initial !important;
    }
    .flexbox-container>div {
        width: 100% !important;
    }
    .form-control, .textarea {
        width: 100% !important;
    }
    .customized-dropdown-wrap {
        width: 100% !important;
        max-width: 100% !important;
    }
    .customized-dropdown-wrap:after {
        right: -25px;
    }
}

@media (max-width: 800px) {
    .customized-dropdown-wrap:after {
        right: -5px;
    }
}