.thumb {
    position: absolute;
    top: 30px;
    left: 50%;
    margin: 0 0 0 -20px;
    width: 40px;
    text-align: center;
    display: block;
    font-size: 14px;
    font-family: "PT Sans";
    color: #333;
}

.price-range-both.thumb {
    width: 100px;
    margin: 0 0 0 -50px;
    top: 26px;
}

.price-range-both {
    display: none;
}

.thumb i {
    font-style: normal;
}

.ui-slider-horizontal {
    height: 2px;
    background: #3b8e82;
}

#price-slider {
    min-width: 350px;
}

#rating-slider, #price-slider {
    margin-top: 25px;
}

/* OVERRIDE DEFAULT JQUERY WIDGET STYLES */

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #3b8e82;
    background: #3b8e82;
    font-weight: normal;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-top: -7px;
}

