/*** Alert window ***/

#popup-alert-dialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    display: none;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

#popup-alert-dialog>div {
    position: relative;
    margin: auto;
    background-image: url('../../../../images/modal-bg.png');
    height: 288px;
    width: 730px;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.alert-window__container {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    margin: 0;
    padding: 0;
    top: 50%;
    text-align: left;
    position: relative;
    transform: translateY(-50%);
}

.continue-shopping-button {
    height: 50px;
    width: 220px;
    border-radius: 5px;
    background: linear-gradient(180deg, #2BBCC2 0%, #1B745F 100%);
    position: absolute;
    bottom: 0;
    right: 0;
}

#continue-dialog>div {
    height: 257px;
    width: 730px;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.alert-window {
    height: 288px;
    width: 730px;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.header-container {
    height: 70px;
    border-radius: 15px 15px 0 0;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
}

.header-container__caption {
    height: 26px;
    color: #000000;
    font-family: "PT Sans Caption";
    font-size: 22px;
    font-weight: bold;
    line-height: 29px;
    text-align: center;
    padding-top: 22px;
}

.popup-alert-dialog__content {
    padding-top: 50px;
}

.popup-alert-dialog__message {
    width: 730px;
    color: #000000;
    font-family: "PT Sans Caption";
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}