.content-container {
    min-height: calc(100vh + 5px) !important;
    /* for DEMO */
}

u:hover {
    cursor: pointer;
}

.product-card-detail__edit {
    height: 680px;
    width: 730px;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
    position: fixed;
    z-index: 9999;
    margin-left: 20%;
    margin-top: 150px;
}

.form-group>label {
    display: block;
    color: #000000;
    font-family: "PT Sans";
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 5px;
}

.form-control {
    height: 35px;
    width: 300px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.bitmap {
    height: 200px !important;
    width: 301px !important;
    border: 1px solid #D8D8D8;
}

.customized-dropdown {
    background-color: #FFFFFF !important;
    color: black !important;
}

.customized-dropdown-wrap {
    width: 300px !important;
    height: 35px !important;
    max-width: 300px !important;
    border-radius: 5px;
    color: #3b8d82 !important;
}

.customized-dropdown-wrap:after {
    content: "┏";
    padding: 0px 0px;
    position: absolute;
    right: 0px;
    top: 0;
    z-index: 1;
    text-align: center;
    width: 10%;
    font-size: 20px;
    transform: rotate(-135deg);
    height: 100%;
    pointer-events: none;
}

.textarea {
    height: 200px;
    width: 300px;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 10px;
    border: none;
}

.radio-group {
    height: 26px !important;
}

.checkmark {
    background-color: white !important;
}

input[type="text"], input[type="number"] {
    padding-left: 10px;
}

.modal-button[value] {
    color: #FFFFFF;
    font-family: "PT Sans Caption";
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    text-align: center;
}

.modal-button {
    width: 170px;
    height: 50px;
    background: linear-gradient(180deg, #2BBCC2 0%, #1B745F 100%);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-right: 20px;
    display: block;
    font-size: 14px;
    line-height: 19px;
    font-family: "PT Sans";
    cursor: pointer;
    float: right;
    position: relative;
    border-radius: 5px;
    margin: 25px 25px 20px 0px !important;
}

.btn-cancel {
    background: linear-gradient(180deg, #B1B1B1 0%, #777777 100%);
}

.form-group {
    padding-bottom: 20px;
}