/* @override content-container */

.content-container{
    min-height: calc(87vh + 5px) !important;
}

.product-card__details {
    width: 1400px;
    margin: auto;
    background-color: white;
}

.how-container {
    width: 96%;
    margin: auto;
    height: 390px;
}

.left-container {
    float: left;
    height: 375px;
    width: 46%;
    margin-top: 19px;
}

.right-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 375px;
    background: #fff;
    width: 54%;
    margin-top: 15px;
    float: left;
}

.left-content {
    width: 96%;
    height: 100%;
}

.right-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.product-card-detail__title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    color: #000000;
    font-family: "PT Sans";
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    padding: 0px 0px 20px 0px;
}

hr{
    width: 100% !important;
    margin-bottom: 10px !important;
}

u{
    color: #3b8e82;
}

.product-card-detail__description {
    color: #000000;
    font-family: "PT Sans";
    font-size: 16px;
    line-height: 20px;
    padding: 20px 0px 10px 0px
}

.product-card__nav{
    position: absolute !important;
}

.new-content {
    min-width: 590px !important;
    min-height: 350px !important;
}

.product-card__back-button{
    margin: 15px 0px 15px 0px;
    font-weight: bold;
}

.product-card__category-name{
    margin: 15px 0px 15px 0px;
}

.product-card-details__navigation{
    width: 1400px !important;
    margin: auto !important;
}

.header-navigation{
    width: 1420px;
    margin: auto;
}

#shopping-cart{
    padding-left: 0px !important;
}

#personal-account{
    padding-right: 0px !important;
}