.product-card {
    display: flex;
    padding: 15px 10px 0px 5px;
    width: 360px;
}

.product-card__flex-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.products-list {
    width: 94%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}

.products-list:after {
    content: "";
    display: table;
    clear: both;
}

.product-card__image {
    height: 210px; 
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.product-card__image>img {
    width: 100%; 
    height: auto;
}

.product-card__rating {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    margin-top: -24px;
}

hr {
    width: 90%;
    border: 1px solid #3b8e82;
    margin: auto;
}

#item-price {
    font-size: 36px;
    float: left;
    padding-left: 20px;
    font-family: "PT Sans";
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    margin: 10px 0px 15px 0px;
}

#item-price::first-letter {
    color: #3b8e82;
}

.product-card__text, .product-card__title {
    padding: 18px;
    font-family: "PT Sans";
    color: #000000;
    font-size: 14px;
    line-height: 19px;
}

.product-card__title {
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
}

#show-more {
    width: 130px;
    float: right;
    position: relative;
    border-radius: 5px;
    padding: 1px;
    margin: 10px 15px 15px 0px;
}

.product-card__description {
    background-color: white;
}

.product-card__nav {
    margin-top: auto;
    bottom: 0;
    right: 0;
    left: 0;
}

main {
    height: auto;
}

footer {
    position: inherit !important;
}

@media screen and (max-width: 480px) and (min-width: 400px) {
    .content, .header-navigation {
        width: 100% !important;
    }
}

@media screen and (max-width: 800px) and (min-width: 480px) {
    .content, .header-navigation {
        width: 100% !important;
    }
    .product-card{
        width: 100% !important;
        height: auto !important;
    }
    .product-card__image{
        height: auto !important;
    }
}

@media screen and (max-width: 1000px) and (min-width: 800px) {
    .content, .header-navigation {
        width: 100% !important;
    }
    .product-card{
        width: 48% !important;
        height: auto !important;
    }
    .product-card__image{
        height: auto !important;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
    .content, .header-navigation {
        width: 100% !important;
    }
    .product-card{
        width: 48% !important;
        height: 620px !important;
    }
    .product-card__image{
        height: auto !important;
    }
}

/* @media all and (min-width: 50em) {
    .product-card {
        width: 33.33%;
    }
    .content {
        width: 80%;
    }
}

@media all and (max-width: 95em) {
    #shopping-cart {
        padding-left: 50px;
    }
    #personal-account {
        padding-right: 50px;
    }
    .content {
        width: 100%;
    }
    .product-card {
        width: 50%;
    }
    #product-filter__popup{
        width: 100%;
    }
}

@media all and (max-width: 700px) {
    .product-card {
        width: 100%;
    }
}

@media all and (max-width: 700px) {
    .row-top div {
        width: 100% !important;
    }
}

@media all and (max-width: 1024px) {
    #shopping-cart {
        padding-left: 50px;
    }
    #personal-account {
        padding-right: 50px;
    }
    .product-filter {
        justify-content: space-between !important;
    }
    #search {
        position: absolute !important;
        right: 0 !important;
        margin-right: 35px !important;
    }
    .tooltip:after {
        right: calc(100% + 1%) !important;
    }
    .row-top div, section.range-slider, section.range-slider input {
        width: 100% !important;
    }
    .custom-hr-hidden {
        display: block !important;
    }
} */