@media (max-width: 1024px) {
    .edit-window-popup>div {
        width: 96% !important;
        height: 98% !important;
        overflow: scroll !important;
    }
    #confirm-dialog>div {
        height: 288px !important;
        width: 730px !important;
    }
    .edit-window__flexbox-container {
        display: initial !important;
    }
    .edit-window__flexbox-container>div {
        width: 100% !important;
    }
    .form-control, .textarea {
        width: 100% !important;
    }
    .customized-dropdown-wrap {
        width: 100% !important;
        max-width: 100% !important;
    }
    .customized-dropdown-wrap:after {
        right: -25px;
    }
}

@media (max-width: 800px) {
    .customized-dropdown-wrap:after {
        right: -5px;
    }
}