.product-card-detail__edit {
    height: 680px;
    width: 730px;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
    position: fixed;
    z-index: 9999;
    margin-left: 20%;
    margin-top: 150px;
}

.form-group>label {
    display: block;
    color: #000000;
    font-family: "PT Sans";
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 5px;
}

.form-control {
    height: 35px;
    width: 300px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.bitmap {
    height: 200px;
    width: 300px;
    border: 1px solid #D8D8D8;
}

.customized-dropdown {
    background-color: #FFFFFF;
    color: black;
}

.customized-dropdown-wrap {
    width: 300px;
    max-width: 300px;
    border-radius: 5px;
    color: #3b8d82;
}

.customized-dropdown-wrap:after {
    content: "â”";
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    text-align: center;
    width: 10%;
    font-size: 20px;
    transform: rotate(-135deg);
    height: 100%;
    pointer-events: none;
}

.textarea {
    height: 200px;
    width: 300px;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 10px;
    border: none;
    box-sizing: border-box;
}

.radio-group {
    height: 28px;
}

.checkmark {
    background-color: white;
}

u:hover {
    cursor: pointer;
}

input[type="text"], input[type="number"] {
    padding-left: 10px;
    box-sizing: border-box;
}

.modal-button[value] {
    color: #FFFFFF;
    font-family: "PT Sans Caption";
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    text-align: center;
    margin: 0 25px 25px 0;
}

.modal-button {
    cursor: pointer;
}

.confirm-buttons__flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.btn-cancel {
    background: linear-gradient(180deg, #B1B1B1 0%, #777777 100%);
}

.form-group {
    padding-bottom: 20px;
}

@media (max-width: 800px) and (min-width: 480px) {
    #popup-alert-dialog>div, #popup-confirm-dialog>div {
        width: auto;
        margin: 10px;
    }
    .popup-alert-dialog__message, .popup-confirm-dialog__message {
        width: 100%;
    }
    .edit-window__flexbox-container {
        display: block;
    }
    .edit-window-popup {
        margin: 10px;
        background: transparent;
    }
    .edit-window-popup>div {
        width: 100%;
        height: 100%;
        overflow: scroll;
    }
    .edit-window__container {
        top: 0;
        transform: initial;
    }
    .form-control, .textarea {
        width: 100%;
        margin: 0;
    }
    .customized-dropdown-wrap {
        width: 100%;
        max-width: 100%;
    }
    .edit-window__flexbox-container>div {
        width: 100%;
        padding: 0;
    }
    .form-group {
        margin: 10px 35px 10px 35px;
    }
    input[type="text"], input[type="number"] {
        padding-left: 10px;
        box-sizing: border-box;
    }
    #popup-edit-dialog__submit, #popup-edit-dialog__cancel {
        right: 0;
        position: relative;
        margin: 0 0 25px 0;
    }
    #popup-edit-dialog__submit {
        margin-left: 10px;
    }
    #popup-edit-dialog__cancel {
        margin-right: 10px;
    }
}