#filter-search {
    width: 275px;
    height: 35px;
    padding-left: 15px;
    box-sizing: border-box;
    border: 2px solid #aaa;
    border-radius: 5px;
    font-size: 14px;
    font-family: "PT Sans";
    font-style: italic;
    line-height: 19px;
    outline: none;
}

::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}

#product-filter__popup {
    display: none;
}

.product-filter {
    width: 94%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.product-filter__container {
    display: flex;
    justify-content: flex-end;
    margin: 30px 10px 0px 0px;
}

#filter-popup {
    width: 140px;
    height: 35px;
    margin: 0px 10px 0px 0px;
    position: inherit;
}

.product-filter__modal {
    margin: auto;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    margin-top: 10px;
    z-index: 9999;
    opacity: 1;
    right: 10px;
}

h1:hover+.product-filter__wrapper {
    opacity: .9;
    top: 105px;
}

.product-filter__wrapper {
    position: relative;
    z-index: 9999;
    width: 740px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.product-filter__component {
    width: 740px;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.product-filter__component:after {
    content: "";
    position: absolute;
    top: -20px;
    right: 45%;
    /*triangle main*/
    border-bottom: 20px solid white;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

section.range-slider {
    position: relative;
    min-width: 268px;
    height: 75px;
    text-align: center;
    margin: 0px 20px 10px 20px;
}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

.filter-component__select-group, .filter-component__range-group {
    width: 100%;
    height: 80px;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
}

.filter-component__select-group div {
    margin: auto;
    height: 58px;
}

.custom-hr {
    width: 100%;
    height: 0.5px;
    box-sizing: border-box;
    border: 0.5px solid #288575;
    margin: 15px 0px 15px 0px;
}

.custom-hr-hidden {
    display: none;
    width: 100%;
    height: 0.5px;
    box-sizing: border-box;
    border: 0.5px solid #288575;
    margin: 15px 0px 15px 0px;
}

.filter-items__label {
    text-align: left;
    color: #000000;
    font-family: "PT Sans";
    font-size: 12px;
    line-height: 15px;
    height: 14px;
    margin: 5px 0px 5px 0px;
}

.radio-group {
    float: left;
}

.switch-aviable-only {
    font-family: "PT Sans";
    font-size: 14px;
    line-height: 19px;
    float: left;
    margin: 0px 0px 0px 10px;
    padding-top: 2px;
}