main {
    min-height: calc(100% - 90px);
}

.product-card-details__image-container {
    position: relative;

    overflow: hidden;
}

.next-image__icon, .prev-image__icon {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background-image: url("../../../images/arrow.svg");
    cursor: pointer;
    z-index: 10000;
}

.next-image__icon {
    right: 0;
    transform: rotate(-180deg);
    margin-right: 10px;
}

.prev-image__icon {
    left: 0;
    margin-left: 10px;
}

#product-card__image-container {
    width: auto;
    height: auto;

    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: slidein;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: slidein;
    -o-animation-duration: 0.5s;
    -o-animation-name: slidein;
    animation-duration: 0.5s;
    animation-name: slideinImage;

}

.product-card-details__image-description {
    height: 50px;
    position: absolute;
    color: #FFFFFF;
    font-family: "PT Sans";
    font-size: 14px;
    font-style: italic;
    line-height: 19px;
    text-align: center;
    top: 75%;
    width: 100%;
    margin: 0;
    pointer-events: none;

    -webkit-animation-duration: 0.75s;
    -webkit-animation-name: slidein;
    -moz-animation-duration: 0.75s;
    -moz-animation-name: slidein;
    -o-animation-duration: 0.75s;
    -o-animation-name: slidein;
    animation-duration: 0.75s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes slideinImage {
    0% {
        opacity: 0.85;
    }
    25% {
        opacity: 0.90;
    }
    50% {
        opacity: 0.92;
    }
    75% {
        opacity: 0.96;
    }
    100% {
        opacity: 1.0;
    }
}

#slider-canvas {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: slideinImage;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: slideinImage;
    -o-animation-duration: 0.5s;
    -o-animation-name: slideinImage;
    animation-duration: 0.5s;
    animation-name: slideinImage;
}

.img-zoom-lens {
    position: absolute;
    border: 2px solid yellow;
    width: 150px;
    height: 200px;
    background: white;
    opacity: 0.75;
    z-index: 9999;
}

.img-zoom-result {
    width: 200px;
    height: 250px;
    z-index: 9999;
    position: absolute;
    top: 5px;
}

.product-card__details-container {
    position: relative;
}

.product-card__image {
    padding: 0;
}

.product-card-details__image-container {
    margin-top: 20px;
}

.product-card__review {
    width: auto;
    margin: 25px;
}

.product-card__review--purpose {
    color: #FFFFFF;
    font-family: "PT Sans";
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.product-card__edit-review {
    width: auto;
    margin: 25px;
    position: inherit;
}

#edit-review__form {
    display: none;
}

.product-card__edit-review-label {
    color: #FFFFFF;
    font-family: "PT Sans";
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
}

.product-card__add-review {
    color: orange;
}

.product-card__add-review:hover {
    cursor: pointer;
}

b {
    color: orange;
}

i {
    font-style: italic;
}

q {
    padding-top: 5px;
    font-size: 24px;
    font-style: italic;
    display: block;
}

q:before {
    content: "\201c";
    color: orange;
}

q:after {
    content: "\201d";
    color: orange;
}

q q:before {
    content: "\2018";
}

q q:after {
    content: "\2019";
}

.product-card__edit-review-header {
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 155px;
}

.product-card__edit-review--username {
    color: white;
    padding: 15px;
}

.product-card__edit-review-content {
    height: 300px;
    border: 3px solid #3FC5CB;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../images/modal-bg.png');
}

.product-card__edit-review-content-label__container {
    height: 10px;
    width: 1150px;
    position: absolute;
}

.product-card__edit-review-content-label {
    height: 40px;
    width: 180px;
    border: 3px solid #3FC5CB;
    border-radius: 15px;
    background-color: #FFFFFF;
    margin: auto;
    z-index: 9999;
    margin-top: -20px;
}

.product-card__edit-review-content-label > span {
    height: 17px;
    width: 180px;
    color: #000000;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}

.editor-name {
    height: 17px;
    color: orange;
    font-family: "PT Sans";
    font-size: 14px;
    line-height: 19px;
    font-style: italic;
    text-align: center;
}

.product-card__review-text {
    opacity: 0.5;
    color: #FFFFFF;
    font-family: "PT Sans";
    font-size: 14px;
    font-style: italic;
    line-height: 19px;
    padding: 0 15px 15px 15px;
}

.edit-review__controls-container {
    width: 100%;
    display: flex;
    padding: 30px 20px 5px 20px;
}

.personal-data-column {
    flex: 1;
}

.review-data-column {
    flex: 3;
}

.personal-data__name {
    height: 35px;
    width: 235px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #FFFFFF;
}

.personal-data__reviewer-name {
    height: 18px;
    width: 116px;
    color: #000000;
    font-family: "PT Sans";
    font-size: 16px;
    line-height: 20px;
}

.form-group__label {
    font-family: "PT Sans";
    font-size: 18px;
    display: block;
    padding-bottom: 5px;
}

.upload-btn__container {
    padding-top: 25px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    height: 100px;
    width: 235px;
    border: 1px solid white;
    border-radius: 5px;
}

.upload-btn {
    width: inherit;
    height: inherit;
    color: gray;
    background-color: white;
    border-radius: 5px;
    border: 1px solid white;
    font-family: "PT Sans";
    font-size: 14px;
    font-style: italic;
}

.upload-btn-wrapper input[type=file] {
    width: inherit;
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.upload-btn__logo {
    background-image: url("../../../images/upload.svg");
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 50px;
    opacity: 0.2;
    border-radius: 15px;
    margin-top: 5px;
}

#review-data__review--text {
    height: 178px;
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid white;
}

#review-data__feedback--text {
    height: 178px;
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid white;
}

.review-data-column__lable-container, .review-data-column__controls-container {
    width: auto;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    display: flex;
    justify-content: space-between;
    font-family: "PT Sans";
    font-size: 18px;
    padding-bottom: 5px;
}

.review-text__changed{
    color: white;
    opacity: 1;
    font-style: inherit;
}

.review-data__rating {
    display: inline-block;
}

#review-rating__disabled-stars {
    transform: rotateY(180deg);
    display: none;
}

.review-rating__star {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
    color: gray;
    padding: 0 0 0 15px;
}

.review-rating__star > span {
    display: inline-block;
    position: relative;
    width: 1.2em;
    font-size: 20px;
    font-weight: bold;
}

.review-rating__star > span:hover {
    cursor: pointer;
}

.review-data__rating {
    height: 14px;
}

.product-card__rating {
    height: 26px;
    margin-top: -30px;
}

.product-rating {
    margin: 4px 0px 0px 10px;
}

.review-data-column__confirm-controls > button, .review-data-column__edit-review-controls > button {
    position: relative;
    padding: 1px;
    margin: 10px 15px 15px 0;
}

.custom-btn-regular {
    width: auto;
    padding: 0 15px 0 15px !important;
}

#review-data__review--submit {
    margin-right: 0;
}

.orange {
    color: orange !important;
}

#image-avatar {
    background-size: cover;
    background-position: center;
    border: 1px solid #bbb;
    height: 79px;
    width: 79px;
    margin: 5px 15px 0 15px;
}

@media screen and (max-width: 1200px) {
    .product-card-details__image-container{
        margin-top: 0;
        padding-top: 20px;
    }

    #slider-canvas{
        height: auto;
    }

    #zoom-result__window, div.img-zoom-lens{
        display: none !important;
    }

    main{
        height: auto;
    }
}